body{
    padding:0;
    margin:0;
}
/* flex direction */

.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 2vh 2vw 2vh 2vw;
    line-height: 14vh;
}
/* 
.container{
    display:flex;
    flex-direction: 
} */

/* flex wrap */

/* .container{
    display:flex;
    flex-wrap: ;
} */

/* justify content */

/* .container{
    display: flex;
    justify-content: space-between;
} */

/* align items */

/* .container{
    display:flex;
    align-items: 
    min-height: 100vh;
} */

/* flex items */

/* order */
/* .container{
    display:flex;

}

#uno{
    order: 2;
}

#dos {
    order: 3;
}

#tres {
    order:1;
} */

/* flex */

.container{
    display: flex;
}
#uno{
    flex: 4;
}
#dos{
    flex: 1.5;
}